.home-jumbotron {
  height: 300px;
  display: flex;
}
.home-jumbo-inner {
  position: relative;
  width: calc(100% / 3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: '100%';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}
.home-jumbo-inner p {
  z-index: 1;
  cursor: default;
  font-weight: bold;
  letter-spacing: 2px;
}
.home-jumbo-hovered {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-jumbo-hovered.show {
  opacity: 0.8
}
.home-featured {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-featured-products {
  display: flex;
  justify-content: space-around;
  width: 900px;
}
.home-featured-header {
  padding: 0 0 60px 0;
}
.home-featured-item {

  /* background: green; */

  border: solid 1px black;
}
.home-featured-item img {
  /* height: 100%; */
  width: 100%;

}
