body {
  font-family: 'helvetica', cursive, serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #EFEFEF;
}
h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}



nav {
  position: fixed;
  background: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #FFCE5A;
  z-index: 2;
}

nav a {
  color: black;
  font-size: 20px;
}
nav a:first-child {
  color: #A70B0B;
  font-style: italic;
}
#logoImg{
  height: 40px;
  margin-right: 45px;
}
.content {
  padding: 60px 0 0 0;
}
.image {
  width: 25%;
  min-width: 250px;
  height: auto;
}

.blog-post {
 display: flex;
 flex-direction: column;
}
footer {
  height: 50px;
  background: #F95234;
  display: flex;
  justify-content: center;
}
footer ul {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer li {
  width: calc(80% / 3);
  display: flex;
  justify-content: center;
}
.footer-socials-li {
  justify-content: flex-end;
}
.social-svg{
  height: 20px;
  padding: 0 10px;
  cursor: pointer;
}
