body {
  font-family: 'Gamja Flower', cursive, serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}



nav {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 70px;
  border: solid 1px #FFCE5A;
}

nav a {
  color: black;
  font-size: 20px;
}
nav a:first-child {
  color: #A70B0B;
  font-style: italic;
}
#logoImg{
  height: 60px;
}
.content {
  padding: 1rem;
}
.image {
  width: 25%;
  min-width: 250px;
  height: auto;
}

.blog-post {
 display: flex;
 flex-direction: column;
}
